/* Main Layout */

.main-layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    font-family: 'SukhumvitSet-Light';
    font-size: 14pt;
    background: rgba(255, 255, 255, 0.9);
}


/* End */


/* Header */

.navbar {
    transition: ease-out 200ms;
    /* border: 1px solid red; */
    display: flex;
    position: fixed;
    flex-direction: column;
    align-content: center;
    align-items: center;
    z-index: 2;
    width: 10%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
}

.navbar.active {
    /* border: 1px solid red; */
    display: flex;
    position: fixed;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    align-content: center;
    align-items: center;
    z-index: 2;
    width: 10%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar .hide {
    display: none;
}

.emp-status {
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 87%;
    align-self: center;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    font-size: 7pt;
    text-align: left;
}

.menu-bar {
    /* Hamburger menu */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* border: 1px solid red; */
    padding: 5px;
    /* margin: 0; */
    width: 100%;
    height: 50px;
    background: linear-gradient(145deg, #bb714c, #df875a);
    /* box-shadow: 8px 8px 16px #d5d5d5, -8px -8px 16px #ebebeb; */
}

.menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    border: 1px solid #ffffff;
    border-radius: 3px;
    margin-top: 3px;
    background: #D07E54;
    font-size: 20pt;
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
}

.menu-button.active {
    background: #2F6986;
}

.menu-name {
    font-size: 10pt;
    font-weight: 600;
    color: #ffffff;
}

.title-bar {
    /* border: 1px solid red; */
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    z-index: 1;
    left: 10%;
    top: 0;
    padding: 5px;
    width: 64%;
    height: 40px;
    overflow: auto;
    background: linear-gradient(145deg, #bb714c, #df875a);
    box-shadow: 3px 3px 0px #d5d5d5, -5px -5px 0px #ebebeb;
    /* Text */
    color: #ffffff;
    font-weight: 600;
}

.search-menu {
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
    height: 80%;
    font-size: 10pt;
    color: #a7a7a7;
    background: #ffffff;
}

.search-menu input {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    border: 0px solid;
    border-radius: 10px;
    width: 80%;
    height: 90%;
    text-align: center;
}

.header-container {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}


/* End */


/* Summary POS */

.main-layout .pos-modal-container.hide {
    display: none;
}

.main-layout .pos-modal-container {
    z-index: 30;
}

.main-layout .pos-form-wrapper {
    /* border: 1px solid; */
    height: 65%;
}

.pos-summary-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* align-content: center; */
    justify-content: flex-start;
    align-self: center;
    width: 100%;
    height: 20%;
    margin-left: 20px;
}

.pos-modal-container .register-row {
    align-self: center;
    width: 60%;
}

.danger {
    background: crimson;
    color: #ffffff;
}

.column-wrapper {
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-self: center;
    width: 100%;
    height: 60%;
    /* margin-left: 20px; */
}

.column-wrapper .col {
    width: 45%;
}

.pos-summary-bottom .text-left {
    /* border: 1px solid; */
    width: 70%;
    font-size: 14pt;
}

.pos-summary-bottom .text-right {
    /* border: 1px solid; */
    width: 80%;
    font-size: 14pt;
    margin-right: 25px;
    font-weight: 700;
}

.modal__card__row-wrapper .text-right.focus {
    color: #28a745;
    font-size: 16pt;
}

.modal__card__row-wrapper .text-right.border {
    display: flex;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
}


/* End summary POS */


/* Modal POS */

.pos-modal-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: var(--modal-bg-overlay);
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto;
    margin-top: 10%;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    min-width: 650px;
    min-height: 550px;
}

.close {
    display: flex;
    z-index: 10;
    width: 40px;
    height: 40px;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    align-self: flex-end;
    color: #BEBEBE;
    padding: 0px;
    font-size: 28pt;
}

.pos-form-wrapper {
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -25px;
    width: 100%;
    height: 100%;
}

.modal__column__left,
.modal__column__right {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    width: 49%;
    height: 100%;
}

.start-button {
    display: flex;
    border-radius: 10px;
    margin-top: 10px;
    width: 35%;
    height: 40px;
    margin-bottom: 10px;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: linear-gradient(145deg, #bb714c, #df875a);
    box-shadow: 8px 8px 16px #d5d5d5, -8px -8px 16px #ebebeb;
    /* Text */
    font-family: 'SukhumvitSet-Light';
    color: white;
    font-size: 14pt;
    font-weight: 600;
    text-align: center;
}

.modal__card__title {
    font-family: 'SukhumvitSet-Light';
    font-size: 24pt;
    margin-left: 10px;
}

.column .text-left,
.column .text-right {
    /* border: 1px solid; */
    font-family: 'SukhumvitSet-Light';
    font-size: 16pt;
}

.column .text-left {
    width: 70%;
    font-size: 16pt;
}

.column .text-right {
    width: 100%;
    font-size: 12pt;
}

.column-bg {
    display: flex;
    align-self: center;
    border: 1px solid #eeeded;
    border-radius: 3px;
    width: 85%;
    height: 35px;
    background: linear-gradient(145deg, #bb714c, #df875a);
    box-shadow: 5px 5px 10px #dedede, -5px -5px 10px #ffffff;
}

.modal-icon {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    align-self: center;
    width: 50px;
    height: 25px;
    margin-left: 15px;
}

.modal-amount-text {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    align-self: center;
    margin-right: 15px;
    /* text-align: right; */
    color: white;
    font-family: 'SukhumvitSet-Light';
    font-weight: 700;
    font-size: 12pt;
}

.modal-amount-input {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    align-self: center;
    color: white;
    font-family: 'SukhumvitSet-Light';
    font-weight: 700;
    font-size: 12pt;
}

.column-bg-left {
    /* border: 1px solid; */
    border-radius: 3px;
    display: flex;
    align-self: center;
    width: 100%;
    height: 35px;
    background: #ffffff;
    border: 1px solid #eeeded;
}

.column-bg-right {
    border: 1px solid #eeeded;
    border-radius: 3px;
    display: flex;
    align-self: center;
    width: 100%;
    height: 35px;
    background: linear-gradient(145deg, #bb714c, #df875a);
    box-shadow: 5px 5px 10px #dedede, -5px -5px 10px #ffffff;
}

.column-input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    align-self: flex-end;
    border: 0px;
    width: 100%;
    height: 33px;
    text-align: right;
    background: transparent;
    /* Text */
    /* color: white; */
    font-family: 'SukhumvitSet-Light';
    font-size: 14pt;
    padding-right: 5px;
}

.column-input-summary {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    align-self: flex-end;
    border: 0px;
    width: 100%;
    height: 33px;
    text-align: right;
    background: transparent;
    /* Text */
    color: white;
    font-family: 'SukhumvitSet-Light';
    font-size: 14pt;
    padding-right: 5px;
}

.budget-total {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
    font-family: 'SukhumvitSet-Light';
    font-size: 20pt;
}

.budget-total-input {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 40%;
    height: 35px;
    margin-right: 5%;
    text-align: right;
    padding-right: 5px;
    font-family: 'SukhumvitSet-Light';
    font-size: 14pt;
    font-weight: 600;
    padding-right: 5px;
    border: 1px solid #eeeded;
    background: #ffffff;
    box-shadow: 5px 5px 10px #dedede, -5px -5px 10px #ffffff;
}

.budget-total span {
    margin-right: 15px;
}

.initialBudget {
    width: 60%;
    height: 35px;
    border: 1px solid #eeeded;
    border-radius: 5px;
    text-align: right;
    font-family: 'SukhumvitSet-Light';
    font-size: 14pt;
    font-weight: 600;
    padding-right: 5px;
    /* shadow */
    background: #ffffff;
    box-shadow: 5px 5px 10px #dedede, -5px -5px 10px #ffffff;
}


/* Summary POS */

.modal__card__row,
.modal__card__row__summary {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 5px;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.modal__card__row-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.modal__card__row-wrapper .text-left {
    width: 100%;
    font-family: var(--font-family);
    font-size: 14pt;
    margin-left: 10px;
}

.modal__card__row-wrapper .text-right {
    width: 60%;
    font-family: var(--font-family);
    text-align: right;
    margin-right: 10px;
    font-size: 11pt;
}

@media screen and (min-width: 769px) {
    .modal__card__row-wrapper .text-left {
        width: 40%;
        font-family: var(--font-family);
        font-size: 18pt;
    }
    .modal__card__row__summary .text-left {
        width: 70%;
    }
    .modal__card__row-wrapper .text-right {
        font-size: 14pt;
    }
}

@media screen and (max-width: 768px) {
    .modal__card__row-wrapper .text-left {
        width: 45%;
        font-family: var(--font-family);
        font-size: 14pt;
    }
}

.hr-card {
    width: 95%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.pos-status {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'SukhumvitSet-Bold';
    font-size: 20pt;
}

.modal__bottom__buttons {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    width: 100%;
    height: 10%;
    align-self: center;
    width: 60%;
}

.modal__button {
    border: 1px solid #D07E54;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    color: #D07E54;
    width: 50%;
    height: 60%;
    font-size: 12pt;
    font-weight: 700;
    box-shadow: 1px 1px 3px #bababa, -1px -1px 3px #ffffff;
}

.button--danger {
    background: crimson;
    color: #ffffff;
}

.button--focus {
    background: #D07E54;
    color: #ffffff;
}

.payment-line-break {
    margin: 1.5rem 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
}