.modal__receipt.hide,
.modal__order-edit.hide {
    display: none;
}

.modal__receipt.active,
.modal__order-edit {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
    background: var(--modal-bg-overlay);
}

.modal__order-edit-prompt.active {
    transition: ease-in 2000ms;
}

.modal__order-edit-prompt.hide {
    display: none;
    transition: ease-out 2000ms;
}

.modal__order-edit-prompt {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 5%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30%;
    right: 0;
    z-index: 35;
    margin-top: 6rem;
    border-radius: 5px;
    background: #ffffff;
    font-family: var(--font-family);
}

.modal__receipt-container {
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-top: 6rem;
    border-radius: 5px;
    width: 60%;
    height: 80%;
    background: #ffffff;
    font-family: var(--font-family);
}

.modal__order-edit-container {
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-top: 6rem;
    border-radius: 5px;
    width: 60%;
    height: 55%;
    background: #ffffff;
    font-family: var(--font-family);
}

.modal__receipt-title,
.modal__order-edit-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.5em;
    font-weight: 600;
}

.modal__receipt-sub-title,
.modal__order-edit-sub-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 600;
}

.modal__receipt-row {
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 30px;
    margin-top: 1rem;
    font-size: 1em;
    font-weight: 500;
}

.modal__receipt-row__left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 40%;
}

.modal__receipt-row__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
}

.modal__receipt-close-line {
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    width: 95%;
}

.modal__row--indent {
    margin-left: 2rem;
}

.modal__text--md {
    font-size: 1.2em;
}

.modal__print-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 80%;
    height: 5%;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    background: var(--color-success);
}

@media print {
    .modal__receipt-container {
        display: flex;
        /* justify-content: center; */
        align-self: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    .no-print {
        display: none;
    }
}

.modal__order-edit-img {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    border: 1px chocolate solid;
    border-radius: 5px;
    width: 50%;
    height: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal__order-edit__buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-self: center;
    align-items: center;
    width: 80%;
    height: 20%;
}

.modal__order-edit__buttons-second {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.modal__order-edit__button {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    border: 1px chocolate solid;
    color: brown;
    width: 30%;
    height: 80%;
    margin-top: 5px;
    font-size: 4em;
}

.modal__order-edit__button:active {
    background: linear-gradient(145deg, #bb714c, #df875a);
}

.modal__order-edit__button--delete {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    border: 1px chocolate solid;
    border-radius: 3px;
    color: #fff;
    width: 40%;
    height: 30%;
    margin-top: 15px;
    font-family: var(--font-family);
    background: linear-gradient(145deg, #bb714c, #df875a);
}

.modal__order-edit__button--delete:active,
.modal__order-edit__button--confirm:active {
    opacity: 0.5;
}

.modal__order-edit-close {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    border: 1px chocolate solid;
    border-radius: 50px;
    color: #fff;
    width: 10%;
    height: 5%;
    margin-top: 15px;
    margin-right: 15px;
    font-family: var(--font-family);
    background: linear-gradient(145deg, #bb714c, #df875a);
}

.modal__order-edit__button--confirm {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    /* border: 1px chocolate solid; */
    border-radius: 15px;
    color: #fff;
    width: 30%;
    height: 30%;
    margin-top: 15px;
    margin-left: 15px;
    font-family: var(--font-family);
    background: linear-gradient(145deg, #0d9b00, #2bff00);
}