/* Home */

.home-logo {
    position: absolute;
    top: 0;
    /* left: 47%; */
    margin: 10px;
    margin-left: 5%;
}

.home-logo .logo {
    width: 25%;
}

.home {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.home__container {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 10px;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home__card-container {
    display: flex;
    width: 25%;
    height: 80%;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

@media screen and (max-width: 1050px) {
    .home__card-container {
        width: 30%;
        height: 80%;
        max-width: 350px;
        margin: 10px;
        margin-top: 3%;
    }
    .home__card-title {
        font-family: var(--font-family);
        color: black;
        font-size: 20pt;
        font-weight: 600;
        text-align: center;
    }
}

@media screen and (max-width: 768) {
    .home__card-container {
        width: 40%;
        height: 80%;
        margin: 10px;
        margin-top: 30%;
    }
    .home__card-title {
        font-family: var(--font-family);
        color: black;
        font-size: 14pt;
        font-weight: 600;
        text-align: center;
    }
}

.home__card-wrapper {
    /* border: 0px solid; */
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 250px;
    height: 100%;
    margin: 10px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.home__card-header {
    display: flex;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: linear-gradient(145deg, #bb714c, #df875a);
    --box-shadow: var(--box-shadow);
    /* Text */
    font-family: var(--font-family);
    color: white;
    font-size: 12pt;
    font-weight: 600;
    text-align: center;
}

.hr-line {
    width: 80%;
    margin-top: -3px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.home__card-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 5px;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.home__card-row-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.home__card-row-wrapper .text-left,
.home__card-row-wrapper .text-right {
    width: 100%;
    font-family: 'SukhumvitSet-Light';
    font-size: 1rem;
}

.home__card-row-wrapper .text-left {
    width: 40%;
    margin-left: 1rem;
}

.home__card-row-wrapper .text-right {
    text-align: right;
    margin-right: 10px;
}

.hr-card {
    width: 95%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.pos-status {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'SukhumvitSet-Bold';
    font-size: 20pt;
}

.pos-active {
    color: #00BC3A;
}

.pos-inactive {
    color: #bc0032;
}


/* Modal POS */

.pos-modal-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: var(--modal-bg-overlay);
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto;
    margin-top: 10%;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    min-width: 650px;
    min-height: 550px;
}

.close {
    display: flex;
    z-index: 10;
    width: 40px;
    height: 40px;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    align-self: flex-end;
    color: #BEBEBE;
    padding: 0px;
    font-size: 28pt;
}

.pos-form-wrapper {
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -25px;
    width: 100%;
    height: 100%;
}

.column {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    width: 49%;
    height: 100%;
}

.start-button {
    display: flex;
    border-radius: 10px;
    margin-top: 10px;
    width: 35%;
    height: 40px;
    margin-bottom: 10px;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: linear-gradient(145deg, #bb714c, #df875a);
    box-shadow: 8px 8px 16px #d5d5d5, -8px -8px 16px #ebebeb;
    /* Text */
    font-family: 'SukhumvitSet-Light';
    color: white;
    font-size: 14pt;
    font-weight: 600;
    text-align: center;
}

.modal-title {
    font-family: 'SukhumvitSet-Light';
    font-size: 24pt;
    margin-left: 10px;
}

.column .text-left,
.column .text-right {
    /* border: 1px solid; */
    font-family: 'SukhumvitSet-Light';
    font-size: 16pt;
}

.column .text-left {
    width: 70%;
    font-size: 16pt;
}

.column .text-right {
    width: 100%;
    font-size: 12pt;
}

.column-bg {
    display: flex;
    align-self: center;
    border: 1px solid #eeeded;
    border-radius: 3px;
    width: 85%;
    height: 35px;
    background: linear-gradient(145deg, #bb714c, #df875a);
    box-shadow: 5px 5px 10px #dedede, -5px -5px 10px #ffffff;
}

.modal-icon {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    align-self: center;
    width: 50px;
    height: 25px;
    margin-left: 15px;
}

.modal-amount-text {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    align-self: center;
    margin-right: 15px;
    /* text-align: right; */
    color: white;
    font-family: 'SukhumvitSet-Light';
    font-weight: 700;
    font-size: 12pt;
}

.modal-amount-input {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    align-self: center;
    color: white;
    font-family: 'SukhumvitSet-Light';
    font-weight: 700;
    font-size: 12pt;
}

.column-bg-left {
    /* border: 1px solid; */
    border-radius: 3px;
    display: flex;
    align-self: center;
    width: 100%;
    height: 35px;
    background: #ffffff;
    border: 1px solid #eeeded;
}

.column-bg-right {
    border: 1px solid #eeeded;
    border-radius: 3px;
    display: flex;
    align-self: center;
    width: 100%;
    height: 35px;
    background: linear-gradient(145deg, #bb714c, #df875a);
    box-shadow: 5px 5px 10px #dedede, -5px -5px 10px #ffffff;
}

.column-input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    align-self: flex-end;
    border: 0px;
    width: 100%;
    height: 33px;
    text-align: right;
    background: transparent;
    /* Text */
    /* color: white; */
    font-family: 'SukhumvitSet-Light';
    font-size: 14pt;
    padding-right: 5px;
}

.column-input-summary {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    align-self: flex-end;
    border: 0px;
    width: 100%;
    height: 33px;
    text-align: right;
    background: transparent;
    /* Text */
    color: white;
    font-family: 'SukhumvitSet-Light';
    font-size: 14pt;
    padding-right: 5px;
}

.budget-total {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
    font-family: 'SukhumvitSet-Light';
    font-size: 20pt;
}

.budget-total-input {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 40%;
    height: 35px;
    margin-right: 5%;
    text-align: right;
    padding-right: 5px;
    font-family: 'SukhumvitSet-Light';
    font-size: 14pt;
    font-weight: 600;
    padding-right: 5px;
    border: 1px solid #eeeded;
    background: #ffffff;
    box-shadow: 5px 5px 10px #dedede, -5px -5px 10px #ffffff;
}

.budget-total span {
    margin-right: 15px;
}

.initialBudget {
    width: 60%;
    height: 35px;
    border: 1px solid #eeeded;
    border-radius: 5px;
    text-align: right;
    font-family: 'SukhumvitSet-Light';
    font-size: 14pt;
    font-weight: 600;
    padding-right: 5px;
    /* shadow */
    background: #ffffff;
    box-shadow: 5px 5px 10px #dedede, -5px -5px 10px #ffffff;
}