.history-container {
    display: flex;
    /* justify-content: space-around; */
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    /* margin-left: 10%; */
    /* margin-top: 5%; */
    z-index: 40;
    width: 100%;
    height: 80%;
    background-color: #fff;
}

.history-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    /* margin-left: 10%; */
    margin-top: 5%;
    z-index: 40;
    width: 100%;
    height: 5%;
    min-height: 40px;
    background-color: #fff;
}

.history-header div {
    padding: 0 1rem;
}

.history-header .search-menu,
.history-header input {
    font-family: 'SukhumvitSet-Light';
    display: flex;
    justify-content: center;
    min-height: 30px;
    align-items: center;
}

.history-title {
    font-family: 'SukhumvitSet-Light';
    font-size: 1.5rem;
    margin-left: 2rem;
}

.history-close {
    width: 10%;
    min-height: 40px;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.history-container .item-card {
    font-family: 'SukhumvitSet-Light';
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100px;
    height: 80px;
    margin: 10px 0 10px 10px;
    background: #ffffff;
    box-shadow: 3px 3px 5px #bababa, -5px -5px 5px #ffffff;
    /* margin-left: 10px; */
}

.history-container .item-detail {
    font-size: 1rem;
    line-height: 25px;
}