.beedle__login {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 600px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: var(--font-family);
}

.beedle__login-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
    background-repeat: no-repeat, repeat;
}

.beedle__login-bg img {
    width: 100%;
    height: 100%;
}

.beedle__login-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    max-width: 885px;
    /* BG */
    background-color: rgba(255, 255, 255, 0.8);
}

.beedle__login-container__logo {
    margin: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    width: 90%;
    /* border: 2px solid; */
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.beedle__login-container__logo img {
    width: 60%;
}

.beedle__login-container label {
    font-family: var(--font-family);
    color: black;
    font-size: 14pt;
    font-weight: 600;
}

.beedle__login-container__form {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 100%;
    align-content: center;
    align-self: center;
    align-items: center;
}

.beedle__login-container__form input {
    margin: 5px;
    width: 50%;
    height: 30px;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.1);
    font-family: var(--font-family);
    font-size: 12pt;
    text-align: center;
}

.beedle__login-container__submit-login-button {
    display: flex;
    margin: 5px;
    width: 50%;
    height: 35px;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgb(223, 33, 46);
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.beedle__login-container__submit {
    display: flex;
    flex-direction: column;
    /* border: 2px solid; */
    width: 100%;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.beedle__login-container__submit-login-button div {
    font-family: var(--font-family);
    font-weight: bold;
    color: white;
    font-size: 12pt;
    text-align: center;
}

.beedle__login-container__submit-text-alert {
    font-family: var(--font-family);
    color: red;
    font-size: 10pt;
    text-align: center;
}

@media screen and (max-width: 1050px) {
    .beedle__login-container {
        margin-top: 10rem;
        width: 600px;
        min-height: 600px;
    }
    .beedle__login-container label {
        font-size: 20pt;
    }
    .beedle__login-container__form input {
        height: 50px;
    }
    .beedle__login-container__submit-text-alert {
        font-size: 12pt;
    }
    .beedle__login-container__submit-login-button {
        height: 50px;
    }
}

@media screen and (max-width: 768) {
    .beedle__login-container {
        margin-top: 8rem;
        min-height: 500px;
    }
}