* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'SukhumvitSet';
    src: local('SukhumvitSet'), url('./assets/fonts/SukhumvitSet-Light.ttf') format('truetype'), url('./assets/fonts/SukhumvitSet-Medium.ttf') format('truetype'), url('./assets/fonts/SukhumvitSet-Bold.ttf') format('truetype');
}

body {
    background: var(--color-bg);
}

a {
    color: unset;
    text-decoration: none;
}

.section__padding {
    padding: 4rem 6rem;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem 2rem;
    }
    .section__margin {
        margin: 4rem 2rem;
    }
}


/* Main Layout */

.main-layout {
    /* border: 1px solid; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    font-family: 'SukhumvitSet-Light';
    font-size: 14pt;
    background: rgba(255, 255, 255, 0.9);
}


/* End */


/* Header */

.navbar {
    transition: ease-out 200ms;
    /* border: 1px solid red; */
    display: flex;
    position: fixed;
    flex-direction: column;
    align-content: center;
    align-items: center;
    z-index: 2;
    width: 10%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
}

.navbar.active {
    /* border: 1px solid red; */
    display: flex;
    position: fixed;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    align-content: center;
    align-items: center;
    z-index: 2;
    width: 10%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar .hide {
    display: none;
}

.emp-status {
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 87%;
    align-self: center;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    font-size: 7pt;
    text-align: left;
}

.menu-bar {
    /* Hamburger menu */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* border: 1px solid red; */
    padding: 5px;
    /* margin: 0; */
    width: 100%;
    height: 50px;
    background: linear-gradient(145deg, #bb714c, #df875a);
    /* box-shadow: 8px 8px 16px #d5d5d5, -8px -8px 16px #ebebeb; */
}

.menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    border: 1px solid #ffffff;
    border-radius: 3px;
    margin-top: 3px;
    background: #D07E54;
    font-size: 20pt;
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
}

.menu-button.active {
    background: #2F6986;
}

.menu-name {
    font-size: 10pt;
    font-weight: 600;
    color: #ffffff;
}

.title-bar {
    /* border: 1px solid red; */
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    z-index: 1;
    left: 10%;
    top: 0;
    padding: 5px;
    width: 64%;
    height: 40px;
    overflow: auto;
    background: linear-gradient(145deg, #bb714c, #df875a);
    box-shadow: 3px 3px 0px #d5d5d5, -5px -5px 0px #ebebeb;
    /* Text */
    color: #ffffff;
    font-weight: 600;
}

.search-menu {
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
    height: 80%;
    font-size: 10pt;
    color: #a7a7a7;
    background: #ffffff;
}

.search-menu input {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    border: 0px solid;
    border-radius: 10px;
    width: 80%;
    height: 90%;
    text-align: center;
}

.header-container {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}


/* End */


/* Sidebar */

.sidebar {
    border: 0px solid;
    z-index: 5;
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 5px 5px 0px #d5d5d5, -5px -5px 0px #ebebeb;
    font-family: 'SukhumvitSet-Light';
}

.profile-wrapper {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.profile-wrapper .icon {
    width: 30%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    color: #2F6986;
    font-size: 8pt;
    font-weight: 600;
    /* Blue */
}

.member-info {
    padding: 2px;
    width: 70%;
}

.member-star {
    /* display: flex; */
    margin-left: 25px;
    width: 40px;
    flex-wrap: wrap;
    height: 20px;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-end;
    align-content: center;
    align-items: flex-end;
    font-size: 8pt;
    color: #4b4b4b;
}

.text-small {
    color: #4b4b4b;
    font-size: 7pt;
}

.sidebar .card-info {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 3%;
    width: 100%;
    height: 70%;
    /* Text */
    color: black;
    font-size: 8pt;
    font-weight: 400;
}

.order-info {
    border: 0px solid;
    border-radius: 3px;
    width: 100%;
    height: 40px;
    background: linear-gradient(90deg, #D07E54, #D07E54);
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
    color: #ffffff;
    font-size: 9pt;
    font-weight: 600;
}

.order-info span {
    margin-left: 10px;
}

.small-info {
    font-size: 8pt;
    margin-right: 5px;
}

.order-list {
    /* border: 1px solid; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.order-dropdown-button {
    /* border: 1px solid; */
    border-radius: 3px;
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
    display: flex;
    width: 100%;
    height: 30px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}

.ordered-container {
    /* border: 1px solid; */
    transition: ease-in 100ms;
    z-index: 10;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 70%;
    opacity: 1;
    overflow-y: scroll;
}

.ordered-container.hide {
    transition: ease-out 100ms;
    opacity: 0;
    /* height: 0; */
    /* display: none; */
}

.order-row {
    /* border: 1px solid; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    box-shadow: 2px 1px 2px #bababa, -3px -1px 1px #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 97%;
    min-height: 30px;
    height: 30px;
    margin-top: 5px;
}

.order-row .name,
.order-row .amount,
.order-row .price {
    display: flex;
}

.order-row .name {
    /* border: 1px solid; */
    align-self: flex-start;
    justify-content: flex-start;
    width: 60%;
    font-size: 8pt;
}

.price-wrapper {
    /* border: 1px solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30%;
    font-weight: 600;
}

.order-row .amount {
    margin-right: 5px;
}


/* Bill */

.bill-summary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 1px solid; */
    border-radius: 3px;
    /* align-self: flex-end; */
    width: 100%;
    height: 40%;
    box-shadow: 2px 1px 2px #bababa, -3px -1px 1px #ffffff;
}

.price-info {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    height: 35%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.price-info .row {
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30px;
}

.price-info .row .left {
    /* border: 1px solid; */
    display: flex;
    align-self: center;
    width: 100%;
    font-size: 9pt;
    font-weight: 600;
}

.price-info .row .left span {
    text-align: right;
    align-content: flex-end;
    align-items: flex-end;
}

.price-info .row .right {
    /* border: 1px solid; */
    display: flex;
    align-self: center;
    justify-content: center;
    width: 50%;
    font-size: 10pt;
}

.price-info .row .right span {
    font-size: 9pt;
    align-self: flex-end;
}

.price-summary {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    height: 48%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.price-summary .row {
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30px;
}

.price-summary .row .left {
    /* border: 1px solid; */
    display: flex;
    align-self: center;
    width: 100%;
    font-size: 9pt;
    font-weight: 600;
}

.price-summary .row .right {
    /* border: 1px solid; */
    display: flex;
    align-self: center;
    justify-content: center;
    width: 50%;
    font-size: 10pt;
}

.left-bill {
    /* border: 1px solid; */
    margin-top: 50px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    height: 100px;
    font-size: 8pt;
}

.pause-bill {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(145deg, #bb714c, #e3946c);
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
}

.bill-button-wrapper {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
    /* height: 40%; */
}

.call-bill {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid;
    border-radius: 3px;
    width: 70%;
    height: 25px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(145deg, #0d9b00, #2bff00);
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
}

.check-bill {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid;
    border-radius: 3px;
    width: 80%;
    height: 50px;
    margin-top: 7px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(145deg, #bb714c, #ffbb99);
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
}

.discount-text {
    text-decoration: underline;
    color: #D07E54;
    font-weight: 700;
}


/* Billing */

.modal-billing {
    width: 0;
    height: 0;
    display: block;
}

.modal-billing.active {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}


/* 2 column */

.billing-container {
    /* border: 0px solid; */
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    align-self: center;
    width: 90%;
    height: 70%;
    background: #ffffff;
    /* box-shadow: 1px 1px 1px #bababa, 1px -1px 3px #ffffff; */
}

.billing-column-left {
    /* border: 1px solid; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
    /* margin-left: 15px; */
    width: 35%;
    height: 100%;
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
}

.billing-column-right {
    /* border: 1px solid; */
    margin-left: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
    width: 65%;
    height: 100%;
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
}

.billing-column-left .top {
    /* border: 1px solid; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: flex-start;
    width: 100%;
    height: 25%;
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
}

.billing-column-left .bot {
    /* border: 1px solid; */
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    /* align-items: center; */
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
}

.billing-container .back-tab {
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
    /* border: 1px solid; */
    border-radius: 50px;
    align-content: center;
    align-items: center;
    align-self: flex-start;
    justify-content: flex-start;
    text-align: center;
    width: 65%;
    height: 20%;
    font-size: 10pt;
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
}

.back-tab span {
    color: #D07E54;
    margin-left: 5px;
}

.billing-total-text {
    display: flex;
    align-content: center;
    align-items: center;
    align-self: flex-start;
}

.billing-amount {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 10px;
    margin-left: 35px;
    margin-top: 15px;
    text-align: left;
    font-size: 14pt;
    font-weight: 600;
}

.billing-amount .amount {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    align-content: flex-end;
    align-items: center;
    width: 70%;
    color: #06A1E4;
    text-align: right;
    margin-right: 20px;
    font-size: 20pt;
    font-weight: 700;
    border-bottom: 1px solid black;
}

.thb {
    font-size: 14pt;
    margin-left: 10px;
}

.payment-card {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100px;
    border-radius: 15px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
    margin-top: 20px;
    margin-left: 5px;
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
}

.payment-card.active {
    border: 2px solid #D07E54;
    ;
}

.payment-image {
    display: flex;
    width: 45%;
    height: 50px;
    border-radius: 15px;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-top: 5px;
}

.payment-text {
    font-size: 12pt;
}

.modal-billing.hide {
    display: none;
}

.billing-input {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 12pt;
}

.billing-input .label {
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    width: 95%;
    border-radius: 10px;
    background: #ffffff;
    /* box-shadow: 5px 5px 0px #e6e6e6, -5px -5px 0px #ffffff; */
}

.label-left {
    margin-left: 15px;
    text-align: left;
}

.label-left .small-text {
    font-size: 9pt;
}

.label-right {
    margin-right: 15px;
    text-align: right;
}

.customer-input {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    width: 95%;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 5px 5px 0px #e6e6e6, -5px -5px 0px #ffffff;
}

.customer-input .amount input {
    margin-right: 15px;
    font-size: 20pt;
    color: #00BB3A;
    text-align: right;
    border: 0px;
}

.calculator-shortcut {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    width: 95%;
    height: 80px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 5px 5px 0px #e6e6e6, -5px -5px 0px #ffffff;
}

.calculator-shortcut .shortcut {
    /* border: 1px solid; */
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
    width: 18%;
    height: 50px;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    background: linear-gradient(145deg, #bb714c, #ffbb99);
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
}

.calculator {
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    /* justify-content: space-around; */
    margin-top: 15px;
    width: 95%;
    height: 50%;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    background: #ffffff;
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
}

.calculator .col-1 {
    /* border: 1px solid black; */
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    width: 80%;
    height: 100%;
    text-align: center;
}

.calculator .col-1 .row {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: 15%;
    flex-direction: row;
    flex-direction: column;
}

.col-3 {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: -35px;
    width: 20%;
    height: 100%;
}

.col-3 .row {
    /* border: 1px solid red; */
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-top: 6px;
    margin-left: 3px;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.calculator .col-1 .numpad.half {
    width: 50%;
}

.calculator .col-3 .numpad.min {
    width: 100%;
    height: 14%;
    /* margin-top: px; */
    margin-bottom: 11px;
}

.calculator .col-3 .numpad.max {
    width: 100%;
    height: 49%;
}

.numpad {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: 0px solid;
    border-radius: 5px;
    margin: 2px;
    text-align: center;
    min-width: 40px;
    width: 25%;
    height: 100%;
    color: black;
    background: #ebeaea;
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
}

.numpad:active,
.shortcut:active,
.back-tab:active,
.check-bill:active,
.pause-bill:active,
.call-bill:active,
.confirmPaymentButton:active {
    box-shadow: inset 1px 1px 80px 0px rgba(0, 0, 0, 0.25);
}

.confirmPaymentButton.disable {
    pointer-events: none;
    opacity: 0.5;
}

.confirmPaymentButton {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 30px;
    width: 50%;
    height: 55px;
    font-size: 20pt;
    border-color: #28a745;
    background: #28a745;
    color: #ffffff;
}


/* End */


/* Modal Payment success */

.modal-payment-success.hide {
    display: none;
}

.modal-payment-success.active {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.modal-payment-success-container {
    border: 1px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    align-self: center;
    width: 90%;
    height: 70%;
    background: #ffffff;
    /* box-shadow: 1px 1px 1px #bababa, 1px -1px 3px #ffffff; */
}

.customer-col {
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-content: center; */
    /* align-items: center; */
    margin-top: 15px;
    margin-left: 15px;
    align-self: center;
    width: 50%;
    height: 100%;
}

.customer-profile-wrapper {
    border: 0px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    align-self: flex-start;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    height: 45%;
    background: #ffffff;
    box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
}

.customer-col .title,
.bill-top .title {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    font-size: 22pt;
    margin-top: 15px;
    width: 90%;
    height: 30px;
}

.customer-profile-wrapper .profile-picture {
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    font-size: 22pt;
    margin-top: 15px;
    width: 50%;
    height: 150px;
}

.customer-profile-wrapper .customer-name {
    margin-top: 15px;
    font-weight: 600;
}

.customer-coupon-wrapper,
.bill-top {
    border: 0px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    align-self: flex-start;
    border-radius: 10px;
    margin-left: 10px;
    width: 100%;
    height: 45%;
    background: #ffffff;
    /* box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff; */
}

.customer-coupon-wrapper .row-2,
.bill-top .row-2 {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 40px;
    font-size: 12pt;
    font-weight: 600;
}

.customer-coupon-wrapper .row-2 .col-1,
.bill-top .row-2 .col-1 {
    display: flex;
    width: 60%;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.customer-coupon-wrapper .row-2 .col-2,
.bill-top .row-2 .col-2 {
    display: flex;
    width: 35%;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.info-col {
    border: 0px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 15px;
    /* margin-top: 20px; */
    align-self: center;
    width: 50%;
    height: 95%;
    background: #ffffff;
    /* box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff; */
}

.bill-top .title {
    margin-bottom: 25px;
}

.info-col .bill-summary {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
}

.bill-summary .row-3 {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
    /* align-items: center; */
    width: 100%;
    height: 40px;
    font-size: 12pt;
    font-weight: 600;
}

.bill-summary .row-3 .col-1,
.bill-summary .row-3 .col-2,
.bill-summary .row-3 .col-3 {
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.bill-summary .row-3 .col-1 {
    width: 32%;
    justify-content: flex-start;
    align-self: flex-start;
    align-content: center;
    align-items: center;
}

.bill-summary .row-3 .col-2 {
    width: 45%;
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
}

.row-3 .col-3 {
    width: 15%;
    justify-content: flex-end;
    align-self: flex-end;
    align-content: center;
    align-items: center;
    color: #28a745;
    font-size: 10pt;
}

.row-3 .lg {
    height: 50px;
    font-size: 22pt;
    color: #28a745;
    /* green button */
}

.bill-summary .print-button,
.bill-summary .clear-customer-button {
    width: 99%;
    height: 40px;
    border-radius: 3px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 16pt;
}

.print-button {
    background: #43b85e;
}

.clear-customer-button {
    background: #D07E54;
}


/* End */


/* Main container */

.main-container {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    margin-left: 10%;
    width: 65%;
    height: 100%;
}

.main-container.stretch {
    display: flex;
    flex-direction: column;
    /* flex: 0.70; */
    margin-top: 55px;
    margin-left: 0;
    width: 75%;
    height: 100%;
}

.top-menu {
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.recommend-menu {
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25%;
    height: 100%;
    margin: 5px 5px 5px 10px;
    font-size: 12pt;
    text-align: center;
    box-shadow: 1px 1px 3px #bababa, -1px -1px 3px #ffffff;
}

.recommend-menu.active {
    background: #D07E54;
    color: #ffffff;
    font-weight: 600;
}

.item-container {
    /* border: 1px solid; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.item-card {
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 110px;
    height: 120px;
    margin: 10px 0 10px 10px;
    background: #ffffff;
    box-shadow: 3px 3px 5px #bababa, -5px -5px 5px #ffffff;
    /* margin-left: 10px; */
}

.stretch .item-card {
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 90px;
    height: 100px;
    margin: 10px 0 10px 20px;
    background: #ffffff;
    box-shadow: 3px 3px 5px #bababa, -5px -5px 5px #ffffff;
}

.stretch .preview-image {
    display: flex;
    border-radius: 10px;
    width: 100%;
    height: 50px;
}

.preview-image {
    display: flex;
    border-radius: 10px;
    width: 100%;
    height: 70px;
}

.item-detail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 2px 1px 2px #bababa, -3px -1px 1px #ffffff;
    width: 100%;
    height: 100%;
    font-size: 8pt;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
    background: #2F6986;
}

.item-detail span {
    margin-left: 5px;
}


/* End */


/* Register Modal */

.modal-register.hide,
.modal-discount.hide {
    display: none;
}

.modal-register.active,
.modal-discount.active {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.modal-register-container,
.modal-discount-container {
    /* border: 1px solid; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* align-items: center; */
    align-self: center;
    width: 90%;
    height: 70%;
    background: #ffffff;
    /* box-shadow: 1px 1px 1px #bababa, 1px -1px 3px #ffffff; */
}

.top-bar-wrapper {
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    margin-top: 15px;
}

.close-menu-wrapper {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    width: 20%;
    height: 100%;
}

.close-button {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: flex-start;
    margin-right: 10px;
    border-radius: 5px;
    width: 40%;
    height: 80%;
}

.register-menu {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-content: center;
    align-items: center;
    align-self: center;
    width: 70%;
    height: 100%;
}

.users-icon {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    margin-right: 10px;
    border-radius: 5px;
    width: fit-content;
    height: 80%;
    margin-left: 5px;
}

.register-button {
    border: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    margin-right: 10px;
    border-radius: 5px;
    width: 35%;
    height: 80%;
    margin-left: 5px;
    font-size: 10pt;
}

.register-button.active {
    border: 1px solid #D07E54;
    background: #D07E54;
    color: #ffffff;
    font-weight: 600;
}

.register-form-wrapper.hide,
.register-info-wrapper.hide,
.register-new-wrapper.hide {
    display: none;
}

.register-form-wrapper.active {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    height: 120px;
    margin-top: 5px;
}

.input-block {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    align-self: center;
    width: 30%;
    height: 100px;
    margin-left: 30px;
    font-size: 12pt;
}

.input-block-user {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    width: 15%;
    height: 100px;
    margin-left: 15px;
    font-size: 12pt;
}

.register-input {
    width: 90%;
    height: 30px;
}

.register-input input,
.register-input select {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    box-shadow: 1px 1px 1px #c9c9c9, 1px -1px 3px #ffffff;
}

.search-user {
    display: flex;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    border-radius: 5px;
    margin-top: 40px;
    /* align-self: center; */
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 85px;
    height: 30px;
    color: #ffffff;
    background: #D07E54;
    font-weight: 600;
}

.register-info-wrapper.active {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    align-self: center;
    align-content: center;
    width: 100%;
    height: 70%;
}

.img-col {
    display: flex;
    border-radius: 5px;
    align-self: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 40%;
    height: 100%;
}

.img-cover {
    width: 100%;
    height: 100%;
}

.register-info-col {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-self: center;
    /* justify-content: center; */
    align-items: center;
    align-content: center;
    margin-left: 10px;
    width: 50%;
    height: 100%;
}

.register-row {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    align-self: flex-start;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    width: 100%;
    height: 10%;
}

.row-title {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    align-self: flex-start;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    width: 40%;
    height: 100%;
}

.row-detail {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    justify-content: flex-end;
    align-self: flex-end;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    width: 50%;
    height: 100%;
}

.register-form-button {
    border: 1px solid #D07E54;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    color: #D07E54;
    width: 50%;
    height: 60%;
    font-size: 12pt;
    font-weight: 700;
    box-shadow: 1px 1px 3px #bababa, -1px -1px 3px #ffffff;
}

.register-form-button.focus {
    background: #D07E54;
    color: #ffffff;
}

.register-new-wrapper.active {
    /* border: 1px solid #D07E54; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    width: 90%;
    height: 80%;
}

.register-new-wrapper .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 20%;
}

.register-new-wrapper .row .input-block {
    justify-content: center;
    align-self: center;
    /* margin: 10px; */
}

.register-new-wrapper .register-row {
    margin-top: 10%;
    width: 55%;
    justify-content: center;
    align-self: center;
}

.register-new-wrapper .register-row .register-form-button {
    margin-left: 20px;
}


/* Discount */

.discount-selector-wrapper {
    /* border: 1px solid #D07E54; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-self: center;
    align-items: flex-start;
    align-content: center;
    /* margin-top: 5%; */
    width: 80%;
    height: 13%;
}

.modal-discount-container .close-menu-wrapper {
    height: 40px;
    width: 50px;
    /* border: 1px solid #D07E54; */
    border-radius: 100px;
}

.modal-discount-container .register-row {
    width: 50%;
    align-self: center;
}

.discount-selector {
    /* border: 1px solid #D07E54; */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 60%;
    height: 100%;
}

.discount-selector-wrapper .title {
    margin-left: 10px;
}

.discount-bill.hide,
.discount-code.hide {
    display: none;
}

.discount-bill.active,
.discount-code.active {
    /* border: 1px solid #D07E54; */
    display: flex;
    flex-direction: column;
    align-self: center;
    /* align-items: center; */
    align-content: center;
    width: 80%;
    height: 60%;
    margin-left: 25px;
}

.discount-type {
    /* border: 1px solid #D07E54; */
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    align-content: center;
    width: fit-content;
    height: 10%;
}

.discount-items-wrapper {
    /* border: 1px solid #D07E54; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-start;
    align-items: center;
    align-content: flex-start;
    overflow-y: scroll;
    width: 120%;
    height: 30%;
    margin-top: 5px;
}

.discount-code-wrapper {
    /* border: 1px solid #D07E54; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    overflow-y: scroll;
    width: 100%;
    height: 20%;
    margin-top: 25px;
}

.discount-code-wrapper input {
    margin: 15px;
    border-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 5px;
    width: 50%;
    height: 40%;
}

.discount-search {
    font-size: 10pt;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    width: 15%;
    height: 32%;
    background: #D07E54;
    color: #ffffff;
    font-weight: 600;
}

.discount-info-wrapper {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    width: 90%;
    height: 50%;
}

.discount-info-wrapper .row {
    /* border: 1px solid #D07E54; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    align-items: center;
    align-content: center;
    width: 90%;
    height: 25%;
}

.discount-info-wrapper .row .title {
    /* border: 1px solid #D07E54; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    align-items: center;
    align-content: center;
    width: 50%;
}

.discount-info-wrapper .row .detail {
    /* border: 1px solid #D07E54; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    align-items: center;
    align-content: center;
    width: 50%;
}

.detail.amount {
    color: #D07E54;
    font-size: 22pt;
    font-weight: 700;
}

.discount-search:active {
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    background: #bd7855;
}

.discount-item.focus {
    border: 0px;
    font-weight: 600;
    background: #D07E54;
    color: #ffffff;
}

.discount-item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    align-content: center;
    border-radius: 3px;
    width: 20%;
    height: 22%;
    font-size: 9pt;
    font-weight: 500;
    margin: 5px 15px 5px 0;
    text-align: left;
}

.discount-item .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    text-align: right;
    width: 90%;
    margin-left: 3px;
}

.discount-item .percent {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    text-align: right;
    width: 10%;
    margin-right: 2px;
}