:root {
    --font-family: 'SukhumvitSet-Light';
    --gradient-button: linear-gradient(145deg, #bb714c, #df875a);
    --color-bg: #ffffff;
    --color-footer: #031B34;
    --color-blog: #042c54;
    --color-text: #ffffff;
    --color-subtext: #FF8A71;
    --color-success: rgb(68, 218, 136);
    --beedle-theme-color: #D07E54;
    --beedle-sub-color: #E86B25;
    --box-shadow: 2px 2px 2px #bababa, -3px -1px 3px #ffffff;
    --modal-bg-overlay: rgba(0, 0, 0, 0.4);
}